<div class="container-cart">
	<%= link_to 'Shop More', products_path , class: "btn-xl btn-opossite-flat"%>
	<div class="cart-container">
				<div class="cart">

					<% @cart.cart_products.each do |cart_product| %>
						<div class="cart-product">
						  <img src='<%= cl_image_path cart_product.product.photo.key%>'/>
						  <div class="cart-product-infos">
						    <h2><%= cart_product.product.name %></h2>
							    <p> Price: <%= cart_product.product.price %></p>
							    <p> Qtd: <%= cart_product.quantity %></p>
							    <p><strong>Total</strong></p>
							    <p>$ <%= cart_product.product.price * cart_product.quantity%></p>
							    	<%= link_to "", cart_product, method: :delete, data: { confirm: 'Are you sure?'}, class: "fas fa-trash" %>
						  	</div>	
						</div>
					<% end %>
				</div>


				<div class="finish-order">
					<h1>Finish your Order:</h1>
						<h4>Your total is $ <%= @total %></h4>
							<%= link_to 'Buy Now!', cart_path(@cart, cart: {status: "Inactive"}) , method: :patch, data: { confirm: 'Proceed with your purchase?'},  class: "btn-xl btn-opossite-flat"%>

							<%= link_to 'clear cart', cart_path(@cart, cart: {status: "Inactive"}) , method: :patch, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm"%>
				</div>
	</div>
</div>
	
