<div class="container">
<% @cart.cart_products.each do |cart_product| %>
	<div class="row">
	<div class="card-product col-sm-6 justify-content: space-between">
	  <img src='<%= cl_image_path cart_product.product.photo.key%>'/>
	  <div class="card-product-infos">
	    <h2><%= cart_product.product.name %></h2>
	    <p>Price: <%= cart_product.product.price %></p>
	    <p>Quantity: <%= cart_product.quantity %></p>
	    <p><strong>Total:</strong>R$ <%= cart_product.product.price * cart_product.quantity%></p>
			<div>
	    <!-- <i class="fas fa-trash text-right"></i> -->
	    </div>
	  </div>	
	</div>
<% end %>
<div class="col-sm-6">
	<h1>Finish your Order:</h1>
		<h4>Your total is R$<%= @total %></h4>
			<button class="btn btn-flat">Buy Now!</button>
			<button class="btn btn-outline-danger btn-sm">Clear Cart</button>
		</div>
	</div>
</div>
