<div class="centralized">
	<h1>Thanks for Shopping with us <i class="fas fa-cannabis"></i></h1>
	<div>
	<%= link_to "Shop More", products_path, class: "btn btn-opossite-flat"%>
	</div>
</div>
	<div class="centralized-cart">		
			<div class="cart">

					<% @cart.cart_products.each do |cart_product| %>
						<div class="cart-product">
						  <img src='<%= cl_image_path cart_product.product.photo.key%>'/>
						  <div class="cart-product-infos">
						    <h2><%= cart_product.product.name %></h2>
							    <p> Price: <%= cart_product.product.price %></p>
							    <p> Qtd: <%= cart_product.quantity %></p>
							    <p><strong>Total</strong></p>
							    <p>EU <%= cart_product.product.price * cart_product.quantity%></p>
							    	<%= link_to "", cart_product, method: :delete, data: { confirm: 'Are you sure?'}, class: "fas fa-trash" %>
						  	</div>	
						</div>
					<% end %>
				</div>
	</div>
