<div class="container">
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :category, :collection => %w[Flower Edible Seed]%>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Add Product", :class => "btn btn-success"%>
  <% end %>
</div>
