<div class="show-container">

  <div class="  card-product-show">

    <div class="product-tools">
      <% if policy(@product).edit? %>
        <%= link_to edit_product_path(@product), class: "far fa-edit mb-1 mr-2", :style=>"color:white;" do %>
        <% end %>
      <% end %>
      <% if policy(@product).destroy? %>
        <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <i class="fas fa-trash-alt" style="color:white;"></i>
          <% end %>
      <% end %>
    </div>

  <div class="divisor">

    <div class="product-photo" style="background-size: cover; background-image: url('<%= cl_image_path @product.photo.key,  height: 400, width: 400, crop: :fill %>')">
    </div>

      <div class="product-info">
        <div>
          <h2><%= @product.name %></h2>
          <h2 style="padding-left: 12px;">$ <%= @product.price %></h2>
        </div>
        <p>Category: <%= @product.category %></p>
        <p style="font-weight: bold; margin-bottom:0px;">Description:</p>
        <div class="description-style">
          <p style="padding-left: 12px;"><%= @product.description %></p>
        </div>

        <%= simple_form_for [@product, @cart_product],
          wrapper: :inline_form,
          html: { class: "form-inline" },
          wrapper_mappings: {
            boolean: :inline_boolean
          } do |f| %>
          <%= f.input :quantity, input_html: { class: "mb-2 mr-sm-2"} %>
          <%= f.button :submit, "Add to the cart", class: "btn new-product-button mb-2" %>
        <% end %>

      </div>
  </div>

 </div>

<div class="review-container">

<%= render "shared/new-review" %>

    <h4 style="padding-left: 16px;">Reviews</h4>

  <div class="reviews">

  <% @product.reviews.each do |review| %>
    <div class="reviews-wroted">
        <div class="review-cabecalho">
          <p><%= review.created_at %></p>
          <p><%= review.user.email %></p>
        </div>
      <h2><%= review.content %></h2>
    </div>
  <% end %>
  </div>


</div>



