<div class="container">

  <div class="card-product-show">
    <div class="product-photo" style="background-image: url('<%= cl_image_path @product.photo.key,  height: 400, width: 400, crop: :fill %>')">
    </div>
    <div class="product-info">
      <h2><%= @product.name %></h2>
      <h3>Price: <%= @product.price %></h3>
      <p>Description: <%= @product.description %></p>
      <p>Category: <%= @product.category %></p>
      <div class="container">
          <%= simple_form_for @product do |f| %>
          <%= f.input :quantity %>
          <%= f.button :submit, "Add to Cart", :class => "btn btn-success"%>
          <% end %>
      </div>
      <% if policy(@product).edit? %>
        <button><%= link_to 'Edit', edit_product_path(@product) %></button>
      <% end %>

      <% if policy(@product).destroy? %>
        <button> <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?'} %> </button>
      <% end %>
      <button><%= link_to 'Add Review', new_product_review_path(@product) %></button>
    </ul>
    </div>
  </div>
  <div style="background-color: white; ">
    <h3 style="text-align: center;">Reviews</h3>
    <hr>
     <% @product.reviews.each do |review| %>
      <p style="margin-left: 30px;"><%= review.content %></p>
      <hr>
    <% end %>
  </div>
</div>
