<div class="container">

  <div class="card-product-show">

    <div class="product-photo">
<!--       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
 -->    </div>

    <div class="product-info">
      <h2><%= @product.name %></h2>
      <h3><%= @product.category %></h3>
      <p><%= @product.price %></p>
      <p><%= @product.description %></p>
      <button>Add to the cart</button>

      <% if policy(@product).edit? %>
        <p> <%= link_to 'Edit', edit_product_path(@product) %> </p>

      <% end %>

      <% if policy(@product).destroy? %>
        <p> <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?'} %> </p>
      <% end %>



    </div>
  </div>


</div>
