<div class="container">

  <div class="card-product-show">


    <div class="product-photo" style="background-image: url('<%= cl_image_path @product.photo.key, height: 300, width: 400, crop: :fill %>')">
    </div>
    <div class="product-info">
      <h2><%= @product.name %></h2>
      <h3><%= @product.category %></h3>
      <p><%= @product.price %></p>
      <p><%= @product.description %></p>
      <button>Add to the cart</button>
    <ul class="product-tools">
      <% if policy(@product).edit? %>
        <p> <%= link_to 'Edit', edit_product_path(@product) %> </p>
      <% end %>

      <% if policy(@product).destroy? %>
        <p> <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?'} %> </p>
      <% end %>

      <%= link_to 'Add Review', new_product_review_path(@product) %>
      <% @product.reviews.each do |review| %>
        <p><%= review.content %></p>
        <hr>
      <% end %>
    </ul>
    </div>
  </div>


</div>
